/*navbar*/
body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(font/SourceSansPro-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, p, li, ul, aside{
    font-family: 'Source Sans Pro';
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #482dc1;
    margin: 0;
    width: 100%;
    height: 5em;
}

nav .navbar{
    border: 25px;
}


.list-nav-items{
    list-style: none;
    display: flex;
    flex-grow: 0.1;
    flex-direction: row;
    align-items: center;
    margin-right: 2%;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/

}

.nav-items{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px; /* Pridaj padding na každú stranu odkazu pre lepší vzhľad */
    transition: 0.3s ease;
}

.nav-items:link{
    color: white;
    cursor: pointer;
}

.nav-items:hover{
    background-color: #6a5acd;
    border-radius: 5px;
}

@media all and (max-width: 870px){
    .navbar{
        flex-direction: column;
        height: 15em;
        justify-content: center;
        align-items: center;
    }

    .list-nav-items{
        flex-direction: column;
        flex-grow: 1;
        padding-left: 0;
    }

    .nav-items{
        justify-content: center;
        align-items: center;
        width: 5em;
    }
}

/*Koniec navbaru*/

/*Začiatok O mne*/

.text-1{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    padding-left: 1%;
}

.photo{
    margin: 0 15px 15px 0; /* okraje, aby bol text od obrázka trochu ďalej */
    width: 15em;
    height: auto;
    border-radius: 15px;
    float: left;
}

.aside-omne{
    float: right;
    font-size: x-large;
}

/*Konic o mne*/

/*Začiatok životopis*/

.curiculum{
    display: flex;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*1. stĺpec*/
.curiculum-col1{
    margin-top: 2%;
    width: 40%;
    height: 32em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 1.5%;
    
    
}

section.curiculum-col1{
    background-image: linear-gradient(#482dc1, #b465c2);
}

.curiculum-photo{
    width: 20em;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    border-radius: 15px;
}

.curiculum-links{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: ease 0.3s;
}

.curiculum-links:hover{
    color: #1811ee;
}

/*2. stĺpec*/
.curiculum-col2{
    margin-top: 2%;
    width: 40%;
    height: 32em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    

    border-radius: 15px;
    margin-left: 1.5%;
}

section.curiculum-col2{
    background-image: linear-gradient(#b465c2, #1811ee);
}

.curiculum-nadpis{
    text-align: center;
    
}

/*pripsôsobenie Životopis pre zariadenia*/

@media screen and (max-width: 1755px) {

    .curiculum-col1{
        height: 35em;
    }

    .curiculum-col2{
        height: 35em;
    }
    
}

@media all and (max-width: 1300px){
    .curiculum{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .curiculum-col1{
        width: 90%;
        margin-left: 0;
        margin-top: 5%;
        text-align: center;
    }

    .curiculum-col2{
        width: 90%;
        margin-left: 0;
        margin-top: 5%;
    }

    .footer-wrap{
        position: absolute;
        width: 100%;
        min-height: 5em;
        margin-top: 50%;
        padding-top: 50%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media all and (max-width: 375px){
        .curiculum-photo{
            width: 10em;
        }

        .curiculum-col2{
            height: 40%;
        }

        .footer-wrap{
            position: absolute;
            top: 100%;
            bottom: 0;
            width: 100%;
            min-height: 3em;
            margin-top: 100%;
            padding-top: 100%;
        }

        .footer{
            margin-top: 100%;
        }

    }


}
/* Koniec pripsôsobenia Životopisu pre zariadenia */

/*Začiatok Rozvrh*/

.timetable-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   /*  overflow-x: scroll; Shift+alt+a je komentnutie vybraneho obsahu */
}

section.timetable-wrap{
    padding-top: 2%;
}

.timetable-container{
    width: 80%;
}

table{
    width: 100%;
}

.table-header{
    background-color: #b465c2;
}

.table-cell{
    height: 3em;
}

.pr{
    background-color:  #DAF7A6;
}

.cv{
    background-color:  #FF5733;
}

.sem{
    background-color: #FFC300; 
}

.kon{
    background-color: #A7C7E7;
}

.tk5{
    background-color:  #900C3F;
    color: white;
}

.table-legend-item{
    margin-bottom: 5%;
    list-style: none;
}

.pr-color{
    background-color: #DAF7A6;
}

.cv-color{
    background-color: #FF5733;
}

.sem-color{
    background-color: #FFC300;
}

.kon-color{
    background-color: #A7C7E7;
}

.tk5-color{
    background-color: #900C3F;
}
  

tr:nth-child(even) {
    background-color: #dddddd;
}

@media all and (max-width: 600px) {
    .timetable-wrap{
        width: 100%;
       
    }

    section.timetable-wrap{
        width: 100%;
        overflow-x: scroll;

    } 
    table{
        width: 80%;
    }
    
    
}
/*Koniec Rozvrh*/

/*Začiatok Interaktívny Obrázok*/

    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        position: relative;
        width: 100%; /* Obrázok bude responzívny */
    }

    .interactive-img{
        width: 60%;
    }

    .map-link {
        position: absolute;
        display: block;
        /* Priehľadnosť pre testovanie umiestnenia */
        border: solid 2px;
        border-radius: 5px;
        border-color: #9300ff;
    }

    .black-star {
        top: 15%;
        left: 29%;
        width: 6%;
        height: 18%;
    }

    .soul{
        width: 6%;
        height: 19%;
        top: 47%;
        left: 35%;
    }

    .tsubaki{
        width: 6%;
        height: 18%;
        top: 6%;
        left: 39.5%;
    }

    .maka{
        width: 5%;
        height: 15%;
        top: 18%;
        left: 47.7%;
    }

    .kid{
        width: 5%;
        height: 18%;
        top: 8%;
        left: 66.3%;
    }

    .hidden{
        display: none;
        position: absolute;
    }

    .map-link:hover + .hidden{
        display: block;
        position: absolute;
        background-color: #6a5acd;
        padding: 10px 10px 10px 10px;
        border-radius: 15px;
    }

    .black-star-block{
        top: 13%;
        width: 15%;
        padding: 10px 10px 10px 10px;
        left: 12%;
        height: auto;
    }

    .soul-block{
        width: 15%;
        top: 46%;
    }

    .tsubaki-block{
        top: 5%;
        width: 15%;
        left: 23%;
    }

    .maka-block{
        top: 15%;
        width: 15%;
        left: 53.5%;
        z-index: 10;
    }

    .kid-block{
        width: 16%;
        left: 72%;
        top: 7%;
    }

    @media all and (max-width: 800px){
        .black-star-block{
            width: 35%;
            height: auto;
            left: 35%;
        }

        .soul-block{
            width: 40%;
            height: auto;
            left: 40%;
            top: 32%;
        }

    }

    @media all and (max-width: 600px){

        .interactive-img{
            width: 90%;
        }

        .black-star{
            top: 15%;
            left: 19%;
            width: 8%;
            height: 18%;
        }

        .tsubaki{
            width: 8%;
            height: 18%;
            top: 6%;
            left: 35%;
        }

        .maka{
            width: 8%;
            height: 15%;
            top: 18%;
            left: 46%;
        }

        .soul{
            width: 10%;
            height: 22%;
            top: 45%;
            left: 27.5%;
        }

        .kid{
            width: 10%;
            height: 17%;
            top: 8%;
            left: 73%;
        }

        .black-star-block{
            width: 55%;
            height: auto;
            left: 20%;
            top: 38%;
            z-index: 2;
        }

        .tsubaki-block{
            left: 45%;
            width: 40%;
            height: auto;
            z-index: 2;
        }

        .maka-block{
            left: 20%;
            top: 40%;
            width: 55%;
        }

        .kid-block{
            left: 20%;
            top: 41%;
            width: 60%;
        }



        
    } 


/*Koniec Interaktívny Obrázok*/




/*zaciatok footer sekcie*/


.footer-wrap{
    position: absolute;
    top: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 5em;
}

.footer{
    background-color: #482dc1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 5em;
    width: 100%;
}

.footer-text{
    color: white;
}

@media all and (max-width: 870px){
    .footer-wrap{
        position: absolute;
        width: 100%;
        padding-top: 80%;
        min-height: 5em;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

    @media all and (max-width: 600px){
        .footer-wrap{
            position: absolute;
            width: 100%;
            min-height: 5em;
            margin-top: 100%;
            padding-top: 100%;
        }

        .footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    
}
/*koniec footer sekcie*/



